body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  color: black;
  
}

/* .corousel-box{
  max-height: 500px;
  background-size:cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#corousel{
  max-height: 500px;
}
.carousel-inner img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
